@charset "UTF-8"; 

@media screen and (max-width: 600px){

    div#interface, div.largura-conteiner-cabecalho, div.largura-conteiner-top, div.rodape-conteiner, div.conteiner-main, div.conteiner, article.desc-produtos, table.tabela-ficha, article{
        max-width: 600px;
        margin: auto;
        display: 100%;
    }

    /*Display NONE*/
    div.boas-vindas-msg, div.beneficios, article#beneficios-loja, div.slider,aside.categorias{
        display: none;
    }

    div.social-links ul{
        list-style-type: none;
        margin-left: 30px;
    }

    nav.menu li.li-linha2{
        border-left: 1px #808080 solid;
        border-right: 1px #808080 solid;
    }

    div.conta{
        position: absolute;
        top: 2.3%;
        left: 82%;
    }

    div.cabecalho-left h1.logo a.logo img{
        width: 45%;
        margin: auto auto 40px 27%;
    }

    form.buscar{
        margin-left:auto;
        margin-right:auto;
        position: absolute;
        top: 65%;
        left: 17%;
    }

    div#img-mobile{
        visibility: visible;
        margin: auto;
        background-color: rgb(223, 223, 223);
        width: 500px;
        height: 500px;
        border-radius: 10px 10px 10px 10px;
        border: solid;
    }
    #img-mobile p{
        margin-top: 50%;
        text-align: center;
    }

    div#conta-loja{
        position: absolute;
        top: 2.3%;
        left: 68%;
    }

    div.sobre{
        margin: auto;
        width: auto;
    }

    div.texto-faleconosco{
        margin: auto;
        width: auto;
    }

}    
